body {
    font-family: "Dongle", sans-serif;
    font-size: 200%;
    overflow-x: hidden;
  }
  
  .navbar-brand {
    padding-left: 60px;
    font-size: 100%;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: black;
    padding-right: 50px;
    text-align: center;
  }

#name{
    font-size: 60px;
}  

.prakhar_image {
    width: 30%;
    padding: 20px;
    display: inline;
  }  

  
