body {
    font-family: "Dongle", sans-serif;
    font-size: 200%;
  }
  
  .navbar-brand {
    padding-left: 60px;
    font-size: 100%;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: black;
    padding-right: 50px;
    text-align: center;
  }

  .proj{
    margin-top: 50px;;
    /* border:2px solid black; */
    width:65%;
    height:350px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    line-height:100%;
  }
  
  .proj-img{
    width:48%;
    height:100%;
    border:5px solid black;
    float:left;
    margin-right:30px;
  }

  .btn{
      font-size:30px;
  }

  #proj-name{
    font-size: 80px;
  }
  .btn-color{
      background-color:#e3f2fd;
      color:black;
      border:1px solid black;
  }
  #horizontal-rule {
    width:60%;
    height:2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

@media only screen and (max-width: 480px) {
  body {
      overflow-x: hidden;
  }
  .navbar-nav {
      flex-direction: row;
      font-size: 80%;
  }
  .navbar-light .navbar-nav .nav-link {
      padding-right: 10px;
  }
  .navbar-brand {
      padding-left: 10px;
  }
  .proj{
    width: 100%;
    height:100%;
  }
  .proj-img{
    width:100%;
    margin-bottom: 20px;
  }
  #proj-name{
    font-size:60px;
    text-align: center;
    vertical-align: middle;
    height:100%;
  }
  #links{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn{
    margin:10px;
  }

}