body {
  font-family: "Dongle", sans-serif;
  font-size: 200%;
}

.navbar-brand {
  padding-left: 60px;
  font-size: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  padding-right: 50px;
  text-align: center;
}


.skills-image {
  width: 80px;
}

