body {
  font-family: "Dongle", sans-serif;
  font-size: 200%;
}

.navbar-brand {
  padding-left: 60px;
  font-size: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  padding-right: 50px;
  text-align: center;
}

#skills {
  /* border:2px solid black;
  padding: 20px;
  float:left;
  line-height: 160%;
  height: 450px;
  width: 30%;
  margin-left: 250px !important;
  background-color: #e3effd; */
}

.skills-image {
  width: 80px;
}

